#Files in this directory are not meant to be added in version control
#This will be a placeholder directory where bash scripts can output log files if need be.

#ignore all files in this directory:
BashLogs/*
BashLogs/*.log
